:root{
    --light: #e0f8ff;
    --dark: #3c3d80;
    --grey:#6b6a6a;
}


body{
    display:flex;
    flex-direction: column;
    background-color: var(--light);
    margin:0px;
}


header{
    margin:0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    background-color: var(--dark);
    
}

h1{
    font-size: 300%;
    color:white;
}
h2{
    padding: 5%;
    font-size:40px;
    color:var(--grey);
}

p{
    font-size: 20px;
    padding-right: 10%;
}
nav{
    min-width: px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    list-style:none;
    font-size: 200%;
    
}
nav a{
    text-decoration: none;
    color: white;
    padding:15px;
    
}

nav a:hover{
    color:#e04a4a;
}

nav a:active{
    color:white;
}


section{
    display: flex;
    flex-direction: row;
    
}

section p{
    display: flex;
    margin-left: 50px;
}


aside{
    min-width: 30%;
    display: flex;
    /* background-color: blueviolet; */
    justify-content: right;
    border-right: 10px solid var(--grey);
    margin-top: 10px;
    margin-bottom: 10px;
}



footer{
    display: block;
    text-align: center;
    
}


ul{
    flex-direction: row;
    margin-left: 0px;
    padding:0;
    text-align: center;
    display: inline;
    list-style-type: none; 
}



.card{
    border: 5px, solid, var(--light);
   
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:5px;
}
.card img{
    max-width: 300px;
    border:5px, solid, var(--light);
}

.card img:hover{
    border:5px, solid, #13b2e7;
    cursor: pointer;
}



.card:first-child{
    width: 100%;
}


#works{
    display: flex;
    flex-wrap:wrap;
    width: 70%;

}

#fill{
    max-width: 1000px;
    width: 100%;
    height: 300px;
    /* height: 300px; */
    object-fit: cover;
    
}


@media screen and (max-width: 768px) {
    header,
    main,
    section{
      flex-direction: column;
      justify-content:center ;
    }
    
    aside{
        /* justify-content: center; */
        /* width:100%; */
        border-right: none;
        border-bottom: 10px solid var(--grey);
        width: 60%;
        text-align: center;
    }

    #works{
        width: 100%;
        flex-direction: row;
    }
    #fill{
        max-width: 300px;
                
    }
}
  